{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Page Title{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    <!-- Add the following line to import the styles.css file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Your header content here -->
        {% if user.is_authenticated %}
            <div class="login-logout-container">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button logout">Logout</button>
                </form>
            </div>
        {% else %}
            {% if not request.resolver_match.url_name == 'login' %}
                <div class="login-logout-container">
                    <a href="{% url 'login' %}" class="button login">Login</a>
                </div>
            {% endif %}
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>
