{% extends 'src/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>

{% if form.errors %}
    <div class="error">
        <p>Oops! There was an error with your submission. Please correct the following:</p>
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock %}